
.conditions{
    padding:5px;
}
.ide{
    display:none;
    padding:50px;
}
hr{
    border:0px solid #333;
    clear: both;
}
.btn{
    cursor: pointer;
    background-color: #eee;
    
    text-align: center;
}
.add{
    cursor: pointer;
    font-size:50px;
    font-weight: bold;
    color:#333;
}
.condition,.food,.tag{
    float:left;
    cursor: pointer;
}
.condition,.food{
    border:1px solid #333;
    padding:5px;
}
.tag{
    border-radius: 20px;
    color:blue;
    padding:5px;
    border:1px solid #666;
}
.tag.select{
    background-color: #666;
    color:black;
}
.food img{
    width:160px;
}